*{
  padding: 0px;
  margin: 0px;
}
.stu-add{
  width: 740px;
  height: 660px;
  font-size: 15px;
  margin: 0px auto;
}
.stu-add table tr {
  height: 53px;
}
/* 普通文本框 */
.stuTextBox {
  width: 250px;
  border: 1px#B0B0B2 solid;
  height: 24px;
  line-height: 24px;
  padding: 5px;
  font-size: 14px;
  vertical-align: middle;
}
/* 下拉框 */
.stuTextBox2 {
  border: 1px#B0B0B2 solid;
  height: 37px;
  line-height: 37px;
  font-size: 14px;
  vertical-align: middle;
}
/* 地址框 */
.stuTextBox3 {
  width: 200px;
  border: 1px#B0B0B2 solid;
  height: 37px;
  line-height: 37px;
  font-size: 14px;
  vertical-align: middle;
  padding: 0px 5px;
}
/* 班级 */
.stuTextBox4 {
  width: 84px;
  border: 1px#B0B0B2 solid;
  height: 37px;
  line-height: 37px;
  font-size: 14px;
  vertical-align: middle;
}
.boolean {
  font-size: 20px;
  font-weight: bold;
  color: green;
}
/* 学生备注样式 */
.stuBeiZhu{
  padding: 10px;
  font-size: 14px;
  resize:none;
}