<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>添加学生成绩</title>
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/addResult.css">
    <!-- <link rel="stylesheet" href="css/tanKuang.css"> -->
    <script src="js/jquery-3.4.1.js"></script>
    <!-- 查看详情 -->
    <script src="js/addResult.js"></script>
</head>

<body onload="selGrasList(),loadExamType()">
<div class="stu-title">
    添加学生成绩
</div>
<div class="result-add-div">
    <!-- 一级联动 -->
    <table class="result-dance-table">
        <tr align="center">
            <td><span class="title">* </span>请选择：</td>
            <td><select class="textBox textBox-class stuGradation" onchange="changeGraListByGId(this)">
                <option value="0">层次</option>
            </select>
            </td>
            <td>
                <select class="textBox textBox-class stuGrade" onchange="changeGradeByGId(this)">
                    <option value="0">年级</option>
                </select>
            </td>
            <td>
                <select class="textBox textBox-class stuClass">
                    <option value="0">班级</option>
                </select>
            </td>
            <td><select class="textBox textBox-class stuExamType">
                <option value="0">考试类型</option>
            </select>
            </td>
            <td align="center" width="120">
                <button class="btn1" onclick="btnNext1()">下一步</button>
            </td>
        </tr>
    </table>
    <!-- 二级联动 -->
    <table class="chooseSubject-table">
        <tr align="center">
            <!--            <td>语文 <input type="radio" value="语文" class="toggle">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" placeholder="总分" class="textBox textBox-totalScore totalScore"></td>-->
            <td width="120" class="btn-course">
                <button class="btn2" onclick="btnNext2()">下一步</button>
            </td>
        </tr>
    </table>
    <h3 class="generate" onclick="btnNext3()"><a href="javascript:void(0)">根据以上信息，生成考试成绩单</a></h3>
    <table align="center" class="result-add-table">
        <tr>
            <th>序号</th>
            <th width="150">学号</th>
            <th width="150">姓名</th>
            <th width="200">备注</th>
        </tr>
        <!--这块含有自动生成的代码-->
    </table>
    <div class="div-save">
        <button class="btn-save" onclick="btnSave()">保存成绩</button>
    </div>
</div>
</body>

</html>