<!DOCTYPE html>
    <html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>添加学生信息</title>
    <link rel="stylesheet" href="/css/addStu.css"/>
    <link rel="stylesheet" href="/css/common.css">
</head>

<body onload="selGrasList()">
<div class="stu-title">
    添加学生信息
</div>
<div class="stu-add clear">
    <table border="0" width="740" align="center">
        <tr>
            <td align="right" width="110"><!--<span class="title">* </span>学号：--></td>
            <td class="title">温馨提示：学号会在后台默认自动生成</td>
        </tr>
        <tr>
            <td align="right"><span class="title">* </span>姓名：</td>
            <td><input type="text" class="stuTextBox stuName" onblur="checkStuName(this)">&nbsp;&nbsp;&nbsp;<span
                    class="boolean">✔</span></td>
        </tr>
        <tr>
            <td align="right"><span class="title">* </span>性别：</td>
            <td>
                <input type="radio" name="sex" class="stuSex" checked id="men" value="男"><label for="men">男</label>
                &nbsp;&nbsp;&nbsp;
                <input type="radio" name="sex" class="stuSex" id="women" value="女"><label for="women">女</label>
            </td>
        </tr>
        <tr>
            <td align="right"><span class="title">* </span>班级：</td>
            <td>
                <select class="stuTextBox4 stuGradation" onblur="checkClass(this)" onchange="changeGraListByGId(this)">
                    <option value="0">层次</option>
                   <!-- <option th:each="a:${grasList}" th:value="${a.gradationId}" th:text="${a.gradationName}"></option>-->
                </select>
                <select class="stuTextBox4 stuGrade" onblur="checkClass(this)" onchange="changeGradeByGId(this)">
                    <option value="0">年级</option>
                    <!--<option th:each="a:${gradeList}" th:value="${a.gradeId}" th:text="${a.gradeName}"></option>-->
                </select>
                <select class="stuTextBox4 stuClass" onblur="checkClass(this)">
                    <option value="0">班级</option>
                    <!--<option th:each="a:${classList}" th:value="${a.classId}" th:text="${a.className}"></option>-->
                </select>
                &nbsp;&nbsp;&nbsp;<span class="boolean">✔</span>
            </td>
        </tr>
        <tr>
            <td align="right">手机：</td>
            <td><input type="text" class="stuTextBox stuPhone" onblur="checkPhone(this)">&nbsp;&nbsp;&nbsp;<span
                    class="boolean">✔</span></td>
        </tr>
        <tr>
            <td align="right">邮箱：</td>
            <td><input type="email" class="stuTextBox stuEmail" onblur="checkEmail(this)">&nbsp;&nbsp;&nbsp;<span
                    class="boolean">✔</span></td>
        </tr>
        <tr>
            <td align="right"><span class="title">* </span>出生日期：</td>
            <td><input type="date" class="stuTextBox stuBornDate" onblur="checkBornDate(this)">&nbsp;&nbsp;&nbsp;<span
                    class="boolean">✔</span>
            </td>
        </tr>
        <tr>
            <td align="right"><span class="title">* </span>身份证号：</td>
            <td><input type="text" class="stuTextBox stuIdCard" onblur="checkIdCard(this)">&nbsp;&nbsp;&nbsp;<span
                    class="boolean">✔</span>
            </td>
        </tr>
        <tr>
            <td align="right"><span class="title">* </span>家庭住址：</td>
            <td>
                <form class="form-inline">
                    <div data-toggle="distpicker">
                        <select class="stuTextBox2 stu-address1" id="province1"></select>
                        <select class="stuTextBox2 stu-address2" id="city1"></select>
                        <select class="stuTextBox2 stu-address3" id="district1"></select>
                        <input type="text" class="stuTextBox3 stu-address4" placeholder="详细地址"
                               onblur="checkDetailAddress(this)">&nbsp;&nbsp;&nbsp;<span
                            class="boolean">✔</span>
                    </div>
                </form>
            </td>
        </tr>
        <tr align="center">
            <td align="right">
                备注：
            </td>
            <td align="left">
                <textarea cols="76" maxlength="200" rows="5" class="stuBeiZhu"></textarea>
            </td>
        </tr>
        <tr align="center">
            <td colspan="2">
                <button onclick="addStu()">添 加</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button onclick="clearAll()">清 空</button>
            </td>
        </tr>
    </table>
</div>
<!-- 以下5个文件是地址的三级联动，开始 -->
<script src="http://www.jq22.com/jquery/1.11.1/jquery.min.js"></script>
<script src="/js/address/distpicker.data.js"></script>
<script src="/js/address/distpicker.js"></script>
<script src="/js/address/main.js"></script>
<!-- 以上5个文件是地址的三级联动，结束 -->
<script src="/js/common.js"></script>
<script src="/js/addStu.js"></script>

</body>

</html>