<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>查询学生成绩</title>
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/selResult.css">
    <script src="js/jquery-3.4.1.js"></script>
    <!-- 查看详情 -->
    <script src="js/selResult.js"></script>
</head>

<body onload="selGrasList(),loadExamType()">
    <div class="stu-title">
        查询学生成绩
    </div>
    <div class="result-sel-div">
        <!-- 模糊查询 -->
        <table class="result-like-table">
            <tr align="center">
                <td><span class="title">* </span>请选择：</td>
                <td><select class="textBox textBox-class stuGradation"  onchange="changeGraListByGId(this)">
                        <option value="0">层次</option>
                    </select>
                </td>
                <td>
                    <select class="textBox textBox-class stuGrade"  onchange="changeGradeByGId(this)">
                        <option value="0">年级</option>
                    </select>
                </td>
                <td>
                    <select class="textBox textBox-class stuClass">
                        <option value="0">班级</option>
                    </select>
                </td>
                <td><select class="textBox textBox-class stuExamType">
                        <option value="0">考试类型</option>
                    </select>
                </td>
                <td align="center" width="120">
                    <button class="btn1" onclick="btn1()">查 询</button>
                </td>
            </tr>
        </table>
        <h3 align="right" class="generate"><a href="excel/result">导成Excel表格</a></h3>
        <!-- 详细成绩 -->
        <table align="center" class="result-sel-table">
            <tr>
                <th>序号</th>
                <th>学号</th>
                <th width="150">姓名</th>
                <th width="100">语文</th>
                <th width="100">数学</th>
                <th width="100">英语</th>
                <th width="100">总成绩</th>
                <th width="100">平均分</th>
                <th width="150">备注</th>
            </tr>
        </table>
        <!-- 分页 -->
<!--        <table class="result-page-table">-->
<!--            <tr align="center">-->
<!--                <td>-->
<!--                    <a href="javascript:void(0)" class="startPage">首页</a>-->
<!--                </td>-->
<!--                <td>-->
<!--                    <a href="javascript:void(0)" class="prevPage">上一页</a>-->
<!--                </td>-->
<!--                <td>-->
<!--                    1/1-->
<!--                </td>-->
<!--                <td>-->
<!--                    <a href="javascript:void(0)" class="nextPage">下一页</a>-->
<!--                </td>-->
<!--                <td>-->
<!--                    <a href="javascript:void(0)" class="endPage">尾页</a>-->
<!--                </td>-->
<!--            </tr>-->
<!--        </table>-->
    </div>
</body>

</html>