<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.school.result.mapper.StudentMapper">
    <insert id="addStu" parameterType="Student" keyProperty="studentNo" useGeneratedKeys="true">
        insert into `student` (
            `studentName`,
            `loginPwd`,
            `sex`,
            `phone`,
            `address`,
            `bornDate`,
            `email`,
            `idCard`,
            `gradationId`,
            `gradeId`,
            `classId`,
            `stuStatus`,
            `beiZhu`
        )
        values
        (
            #{student.studentName},
            '123456',
            #{student.sex},
            #{student.phone},
            #{student.address},
            #{student.bornDate},
            #{student.email},
            #{student.idCard},
            #{student.gradationId},
            #{student.gradeId},
            #{student.classId},
            '在读',
            #{student.beiZhu}
        );
    </insert>

    <select id="selClassStu" resultType="Student" parameterType="int">
        select studentNo,studentName from student
        where gradationId=#{gradationId} and gradeId=#{gradeId} and classId=#{classId} and stuStatus='在读';
    </select>

</mapper>